*{
   margin: 0;
   padding: 0;
}

body, html{
   height: 100%;
}

#startForm{
   text-align: center;
   left: 45%;
   top: 40%;
   position: fixed;
   margin-top: -50px;
   margin-left: -100px;
   animation: fadein 3s;
}

#thanks{
   text-align: center;
   left: 50%;
   top: 50%;
   position: absolute;
   margin-top: -50px;
   margin-left: -100px;
   visibility: hidden;
}

#myHome{
   position: absolute;
   right: 50%;
   top: 2%;
   text-align: center;
   padding: 10px;
   /* Rounded opaque borders */
   background:rgba(255, 255, 255, 0.75);
   border-radius: 25px;
   animation: fadein 3s;
}

#bg{
   height:100%;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover; 
   /*background-image: url("https://i.redd.it/h19b749lvi321.jpg")*/
}

#name{
   text-align: center;
   right: 2%;
   top: 2%;
   position: absolute;
   padding: 10px;
   /* Rounded opaque borders */
   background:rgba(255, 255, 255, 0.75);
   border-radius: 25px;
   animation: fadein 3s;
}

#reddit{
   text-align: center;
   bottom: 0%;
   left: 50%;
   width: 40%;
   height: 40%;
   position: absolute;
   /* overflow-x: scroll; */
}

#news{
   text-align: center;
   bottom: 2%;
   right: 2%;
   width: 45%;
   /* height: 40%; */
   position: absolute;
    /* Rounded opaque borders */
   background:rgba(255, 255, 255, 0.75);
   border-radius: 25px;
   animation: fadein 3s;
}

td{
   padding: 15px;
}

#weather{
   text-align: center;
   top: 2%;
   left: 2%;
   position: absolute;
   padding: 20px;
   /* Rounded opaque borders */
   background:rgba(255, 255, 255, 0.75);
   border-radius: 25px;
   animation: fadein 3s;
}

@keyframes fadein{
   from{opacity: 0;}
   to{opacity: 1;}
}

#high{
   color: rgb(187, 0, 0);
}

#low{
   color: rgb(0, 0, 165);
}

#reddit{
   /* Rounded opaque borders */
   background:rgba(255, 255, 255, 0.75);
   border-radius: 25px;
   animation: fadein 3s;
   bottom: 2%;
   left: 2%;
   position: absolute;
   height: 40%;
}