*{
   margin: 0;
   padding: 0;
   font-family: 'Roboto';
}

body, html{
   height: 100%;
}

#startForm{
   text-align: center;
   left: 45%;
   top: 40%;
   position: fixed;
   margin-top: -50px;
   margin-left: -100px;
   animation: fadein 3s;
   opacity: 1;
   transition-property: all;
   transition-duration: 2s;
   transition-timing-function: ease-in-out;
}

#myHome{
   position: absolute;
   right: 48%;
   top: 50%;
   text-align: center;
   font-size: 25;
   padding: 10px;

   /* Rounded opaque borders */
   background:rgba(255, 255, 255, 0.75);
   border-radius: 25px;
   animation: fadein 4s;
   margin-left: -100px;
   font-family: 'Roboto';

   /* move to the top of the page */
   transition-property: top, font-size;
   transition-duration: 2s;
   transition-timing-function: ease-in-out;
   transition-delay: 2s;
}

#bg{
   height:100%;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover; 
   animation: fadein 2s;
}

#name{
   text-align: center;
   right: 2%;
   top: 2%;
   position: absolute;
   padding: 10px;
   /* Rounded opaque borders */
   background:rgba(255, 255, 255, 0.75);
   border-radius: 25px;
   /* Starting position */
   animation: fadein 3s;
   animation-delay: 4s;
   opacity: 0;
   /* fade in */
   transition-property: opacity;
   transition-timing-function: ease-in;
   transition-delay: 4s;
}

#reddit{
   /* Rounded opaque borders */
   background:rgba(255, 255, 255, 0.75);
   border-radius: 25px;
   bottom: 2%;
   left: 2%;
   text-align: center;
   width: 30%;
   position: absolute;
   animation: fadein 3s;
   animation-delay: 5s;
   opacity: 0;
   transition-property: opacity;
   transition-timing-function: ease-in;
   transition-delay: 5s;
}

#news{
   text-align: center;
   bottom: 2%;
   right: 2%;
   width: 30%;
   /* height: 40%; */
   position: absolute;
    /* Rounded opaque borders */
   background:rgba(255, 255, 255, 0.75);
   border-radius: 25px;
   animation: fadein 3s;
   animation-delay: 4.5s;
   opacity: 0;
   /* fade in */
   transition-property: opacity;
   transition-timing-function: ease-in;
   transition-delay: 4.5s;
}

td{
   padding: 15px;
}

#weather{
   text-align: center;
   top: 2%;
   left: 2%;
   position: absolute;
   padding: 20px;
   /* Rounded opaque borders */
   background:rgba(255, 255, 255, 0.75);
   border-radius: 25px;
   animation: fadein 3s;
   animation-delay: 5.5s;
   opacity: 0;
   transition-property: opacity;
   transition-timing-function: ease-in;
   transition-delay: 5.5s;
}

@keyframes fadein{
   from{opacity: 0;}
   to{opacity: 1;}
}

#high{
   color: rgb(187, 0, 0);
}

#low{
   color: rgb(0, 0, 165);
}

#reset{
   bottom: 0%;
   right: 50%;
   position: absolute;
   font-family: 'Roboto';
}