*{
   box-sizing: border-box;
}

body{
   background-color: black;
}

.text{
   color: pink;
   text-align: center;
}

img{
   width: 300px;
   height: 300px;
}

.headingImage{
   position: relative;
   background-size: contain;
   background-repeat: no-repeat;
   border-radius: 10px;

   float: left;
   width: 33.33%;
   padding: 5px;
}

.overlay{
   opacity: 0;
   transition: opacity 0.3s;
   background-color: lightpink;
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   text-align: center;
}

.headingImage:hover > .overlay{
   opacity: 0.5;
}