body{
    background-color: black;
}

.text{
    text-align: center;
    color: pink;
}

.container{
    position: relative;
    width: 50%;
    text-align: center;
    margin: 0 auto;
    transition: width 2s;
}

.image{
    display: block;
    width: 100%;
    height: auto;
    border-radius: 20px;
}

.overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: lightpink;
    border-radius: 20px;
}

.container:hover .overlay{
    opacity: 0.5;
}

.oText{
    color: black;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#secondImage{
    width: 25%;
    height: auto;
    position: absolute;
    top: 21%; 
    left: 10%;
    opacity: 0;
    transition: opacity 2s ease-in;
    transition-delay: 2s;
}

#thirdImage{
    width: 25%;
    height: auto;
    position: absolute;
    top: 21%; 
    right: 10%;
    opacity: 0;
    transition: opacity 2s ease-in;
    transition-delay: 2s;
}

#story{
    color: pink;
    text-align: center;
    margin: 100px;
    opacity: 0;
    transition: opacity 2s ease-in;
    transition-delay: 2s;
}

h2, h4, .oText{
    font-style: italic;
}